
.icon-laundry7:before { content: '\e800'; } /* '' */
.icon-iron4:before { content: '\e801'; } /* '' */
.icon-truck:before { content: '\e802'; } /* '' */
.icon-mobile-phone15:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-instagramm:before { content: '\e806'; } /* '' */
.icon-windows:before { content: '\e807'; } /* '' */
.icon-android:before { content: '\e808'; } /* '' */
.icon-apple:before { content: '\e809'; } /* '' */
.icon-building104:before { content: '\e80a'; } /* '' */
.icon-cyclist1:before { content: '\e80b'; } /* '' */
.icon-delivery35:before { content: '\e80c'; } /* '' */
.icon-delivery52:before { content: '\e80d'; } /* '' */
.icon-man248:before { content: '\e80e'; } /* '' */
.icon-smartphone55:before { content: '\e80f'; } /* '' */
.icon-computer209:before { content: '\e810'; } /* '' */
.icon-phone21:before { content: '\e811'; } /* '' */